# Ignore object files
*.o

# Ignore executables
*.out
*.exe
*.a
*.so
*.dll
flower_exchange

# Generated output files
executions.csv
output_csvs/executions.csv
output_csvs/actual_test_runs/

# macOS system files
.DS_Store

# Editor/IDE folders (optional, for VSCode/Xcode/CLion)
.vscode/
.idea/
*.user
*.swp
